<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"> 
<suite name="Suite" parallel="tests" verbose="2" >
 
 <parameter name="userID" value="mercury" />
 <parameter name="password" value="mercury" />
 
 <test name="BrowserTest">
 	<parameter name="browser" value="Chrome" />
    <classes>
    <class name="com.mercurytours.Test.TCLaunchApplication" />
    <class name="com.mercurytours.Test.TCLoginToApplication" />
	 
	
	 
	</classes>
</test>
 
 
</suite>